[Unit]
Description=Django-Q {{ service_name }} worker
After=syslog.target

[Service]
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"

User={{ user_name }}
Group=www-data

WorkingDirectory={{ src_root_dir }}

ExecStart=/usr/bin/python3.9 -m pipenv run {{ manage_py_path }} qcluster
Type=simple
NotifyAccess=all

StandardError=file:{{ code_dir }}/log/{{ service_name }}-q.stderr.log
StandardOutput=file:{{ code_dir }}/log/{{ service_name }}-q.stdout.log

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
