[Unit]
Description=Django {{ service_name }} WSGI worker
After=syslog.target

[Service]
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"

User={{ user_name }}
Group=www-data

WorkingDirectory={{ src_root_dir }}

ExecStart=/usr/bin/python3.9 -m pipenv run uwsgi \
  --http :8020 \
  --socket {{ code_dir }}/wsgi/wsgi.sock \
  --chmod-socket=664 \
  --wsgi-file {{ wsgi_file }} \
  --buffer-size=8192 \
  --wsgi-disable-file-wrapper \
  --processes=2 \
  --threads=5 \
  --max-requests=1000 \
  --harakiri=30 \
  --vacuum

# TODO remove `wsgi-disable-file-wrapper` when https://github.com/unbit/uwsgi/issues/1126 is resolved (it's been 6 years so far...)

KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

StandardError=file:{{ code_dir }}/log/{{ service_name }}-wsgi.stderr.log
StandardOutput=file:{{ code_dir }}/log/{{ service_name }}-wsgi.stdout.log

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
