{{ code_dir }}/log/{{ service_name }}-q.*.log {{ code_dir }}/log/{{ service_name }}-wsgi.*.log {
  rotate 14
  daily
  compress
  missingok

  sharedscripts
  postrotate
    systemctl restart {{ service_name }}-q
    systemctl restart {{ service_name }}-wsgi
  endscript
}
