# the upstream component nginx needs to connect to
upstream django {
    server unix://{{ code_dir }}/wsgi/wsgi.sock;
}

# configuration of the server
server {
    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot

    server_name {{ domain }};
    charset utf-8;
    # root DO_NOT_SET_ROOT_TO_CODE_DIR_FOR_SECURITY_REASONS;

    # max upload size
    client_max_body_size 75M;
    access_log /var/log/nginx/{{ domain }}.access.log;
    error_log /var/log/nginx/{{ domain }}.error.log info;

    # gzip
    gzip on;
    gzip_min_length 1024;
    gzip_proxied any;
    gzip_comp_level 4;
    gzip_types text/css text/javascript text/xml text/plain text/x-component application/javascript application/json application/xml application/rss+xml font/truetype font/opentype application/vnd.ms-fontobject image/svg+xml;
    gzip_vary on;
    gzip_disable "msie6";

    # Don't index us in Google
    location = /robots.txt {
       add_header Content-Type text/plain;
       return 200 "User-agent: *\nDisallow: /\n";
    }

    # Django media
    location /media  {
        alias {{ code_dir }}/media/;
    }

    # Django static files
    location /static {
        alias {{ code_dir }}/static/;
    }

    # by default requests go to the Django server
    location / {
        uwsgi_pass  django;
        include     {{ uwsgi_params_file }};
    }


    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

{% if redirect_http_to_https %}
    # redirect http to https
    server {
        listen      80 default_server;
        listen [::]:80 default_server;

        if ($host = www.{{ domain }}) {
            return 301 https://{{ domain }}$request_uri;
        }

        if ($host = {{ domain }}) {
            return 301 https://{{ domain }}$request_uri;
        } # managed by Certbot

        server_name {{ domain }};
        return 404; # managed by Certbot
    }
{% endif %}